.sidebar {
    background: var(--gray-800);
    border-radius: 8px;
    overflow: hidden;
    /* overflow: hidden faz com que os elementos só o ocupem o tamanho do container */
}

.cover {
    height: 72px;
    object-fit: cover;
    /* object-fit: cover comprimiu a img para caber no espaço do container */
    width: 100%;
}

.profile {
    align-items: center;
    display: flex;
    flex-direction: column;

    margin-top: calc(0px - 1.5rem - 6px);
}

.avatar {
    border: 4px solid var(--gray-800);
    border-radius: 8px;
    outline: 2px solid var(--green-500);

    height: 3rem;
    width: 3rem;

    box-sizing: initial;
    /* box-sizing: initial faz com que quando for adicionado borda, outline, padding, etc em um elemento isso ocupe um espaço a mais, e não 'esprema' o elemento */
}

.profile strong {
    margin-top: 1rem;
    color: var(--gray-100);
    line-height: 1.6;
}

.profile span {
    font-size: 0.875rem;
    color: var(--gray-400);
    line-height: 1.6;
}

.sidebar footer {
    border-top: 1px solid var(--gray-600);
    margin-top: 1.5rem;
    padding: 1.5rem 2rem 2rem;
}

.sidebar footer a {
    background: transparent;
    border: 1px solid var(--green-500);
    border-radius: 8px;
    color: var(--green-500);
    display: block;
    font-weight: bold;
    height: 50px;
    padding: 0 1.5rem;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;

    transition: color 0.1s, background-color 0.1s;
}

.sidebar footer a:hover {
    background: var(--green-500);
    color: var(--white);
}